---
import { LanguageSelector } from "astro-i18next/components";
import { t, } from "i18next";
const Buton_Description = t("components.navbar.button") || "";
import Var from "../var.json"

---

<div class="absolute right-0 top-[5%] hidden sm:flex sm:h-[15vh] h-[12vh] bg-zinc-950  z-10 bg-opacity-60 w-10/12 border-2 border-sky-500 rounded-l-full ">

    <div class="w-1/3 flex-col ">

        <div class="w-full h-1/2 flex items-center justify-center"> <a href={Var.CELULAR_LINK}  class="flex items-center justify-center "><svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 md:w-8 md:h-8 m-1 md:m-4 text-sky-500" viewBox="0 0 24 24"><path fill="currentColor" d="M15.5 1h-8A2.5 2.5 0 0 0 5 3.5v17A2.5 2.5 0 0 0 7.5 23h8a2.5 2.5 0 0 0 2.5-2.5v-17A2.5 2.5 0 0 0 15.5 1zm-4 21c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5s1.5.67 1.5 1.5s-.67 1.5-1.5 1.5zm4.5-4H7V4h9v14z"/></svg><span class="font-bold text-xs md:text-base text-zinc-100">{Var.CELULAR_SHOW}</span></a>    </div>
        <div class="flex items-center justify-center text-sky-500 w-full h-1/2">
        <a href={Var.INSTAGRAM_LINK}>   <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 md:w-8 md:h-8 m-1 md:m-4" viewBox="0 0 24 24"><path fill="currentColor" d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4H7.6m9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3Z"/></svg> </a>      
         <a href={Var.FACEBOOK_LINK}>  <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 md:w-8 md:h-8 m-1 md:m-4" viewBox="0 0 24 24"><path fill="currentColor" d="M13 10h3v3h-3v7h-3v-7H7v-3h3V8.745c0-1.189.374-2.691 1.118-3.512C11.862 4.41 12.791 4 13.904 4H16v3h-2.1c-.498 0-.9.402-.9.899V10z"/></svg> </a>
         <a href={Var.YELP}>  <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 md:w-8 md:h-8 m-1 md:m-4" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m11.5 11l-.458-8.24a.6.6 0 0 0-.771-.541L6.814 3.256a.6.6 0 0 0-.311.93L11.5 11Zm2.5 1.5l4.57-.83a.6.6 0 0 0 .38-.94l-1.445-2.023a.6.6 0 0 0-.987.016L14 12.5Zm.5 3.5l2.066 4.132a.6.6 0 0 0 1.017.091l1.835-2.446a.6.6 0 0 0-.373-.95L14.5 16Zm-3 .5l-3.341 3.341a.6.6 0 0 0 .213.986l2.317.869a.6.6 0 0 0 .811-.562V16.5Zm-2-2.5l-4.132-2.066a.6.6 0 0 0-.868.537v2.643a.6.6 0 0 0 .823.557L9.5 14Z"/></svg> </a>
         <a href={Var.MYBUSINESS}>  <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 md:w-8 md:h-8 m-1 md:m-4" viewBox="0 0 24 24"><path fill="currentColor" d="M22 8.5c0 1.37-1.12 2.5-2.5 2.5S17 9.87 17 8.5c0 1.37-1.12 2.5-2.5 2.5S12 9.87 12 8.5c0 1.37-1.12 2.5-2.5 2.5S7 9.87 7 8.5C7 9.87 5.88 11 4.5 11S2 9.87 2 8.5l1.39-5.42S3.68 2 4.7 2h14.6c1.02 0 1.31 1.08 1.31 1.08L22 8.5m-1 3.7V20c0 1.1-.9 2-2 2H5c-1.1 0-2-.9-2-2v-7.8a3.96 3.96 0 0 0 4-.58c.69.55 1.56.88 2.5.88c.95 0 1.82-.33 2.5-.88c.69.55 1.56.88 2.5.88c.95 0 1.82-.33 2.5-.88c.68.55 1.56.88 2.5.88c.53 0 1.04-.11 1.5-.3m-2 5.13c0-.2 0-.41-.05-.63l-.03-.16h-2.97v1.17h1.81c-.06.22-.14.44-.31.62c-.33.33-.78.51-1.26.51c-.5 0-.99-.21-1.35-.56c-.69-.71-.69-1.86.02-2.58c.69-.7 1.83-.7 2.55-.03l.14.13l.84-.85l-.16-.14c-.56-.52-1.3-.81-2.08-.81h-.01c-.81 0-1.57.31-2.14.87c-.59.58-.92 1.34-.92 2.13c0 .8.31 1.54.88 2.09a3.2 3.2 0 0 0 2.22.91h.02c.8 0 1.51-.29 2.03-.8c.47-.48.77-1.2.77-1.87Z"/></svg></a>
        </div>

    </div>


    <div class="w-1/3  my-auto flex items-center justify-center"> 
        <img src="https://res.cloudinary.com/djhjo9n7j/image/upload/f_auto,q_100/v1683137257/LogoST_kjtquy.png" alt="Logo Corporativo ST Auto" class=" hidden sm:flex h-[15vh] w-[15vh] "  >  
    </div>


    <div class="w-1/3 flex">

        <div class="w-full md:w-1/2 flex items-center justify-center"> <LanguageSelector showFlag={true} class="bg-sky-100 text-zinc-950 rounded-l-lg border-2 border-sky-500 " />       </div>
        <div class=" hidden md:w-1/2 md:flex items-center justify-center"> <a href="#" class="flex items-center font-bold justify-center w-36 h-10 bg-red-700 rounded-t-lg border-b-2 border-zinc-50 text-zinc-50">{Buton_Description}</a></div>
        

       

    </div>


</div>

<div class="absolute right-0 top-0 sm:hidden flex h-[15vh] bg-zinc-950  z-10 bg-opacity-60 w-full   ">
 
<div class="w-1/3 flex">
    <div class="w-full flex items-center justify-center"> <a href={Var.CELULAR_LINK}  class="flex items-center justify-center "><svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 md:w-8 md:h-8 m-1 md:m-4 text-sky-500" viewBox="0 0 24 24"><path fill="currentColor" d="M15.5 1h-8A2.5 2.5 0 0 0 5 3.5v17A2.5 2.5 0 0 0 7.5 23h8a2.5 2.5 0 0 0 2.5-2.5v-17A2.5 2.5 0 0 0 15.5 1zm-4 21c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5s1.5.67 1.5 1.5s-.67 1.5-1.5 1.5zm4.5-4H7V4h9v14z"/></svg><span class="font-bold text-xs md:text-base text-zinc-100">{Var.CELULAR_SHOW}</span></a>    </div>
 
</div>

<div class="w-1/3  my-auto flex items-center justify-center"> 
    <img src="https://res.cloudinary.com/djhjo9n7j/image/upload/f_auto,q_100/v1683137257/LogoST_kjtquy.png" alt="Logo Corporativo ST Auto" class="flex h-[14vh] w-[14vh] "  >  
</div>

<div class="w-1/3 flex">

    <div class="w-full flex items-center justify-center"> <LanguageSelector showFlag={true} class="bg-sky-100 text-zinc-950 rounded-l-lg border-2 border-sky-500 " />       </div>

</div>
</div>
<div class="flex sm:hidden items-center justify-center absolute top-[15vh] h-[6vh] w-full bg-red-700  bg-opacity-60 rounded-t-xl border-b-2 border-zinc-50 ">
    
    <a href="#" class="flex items-center font-bold justify-center text-zinc-50">{Buton_Description}</a></div>
